@using SyrianPoundRates.Models
@model CurrencyRateViewMode

@{
    ViewBag.Title = "Rates Managment";
    Layout = "~/Views/Shared/_Layout.cshtml"; 
}

<h2>@ViewBag.Title</h2>

@using (Html.BeginForm("Submit", "Rates", FormMethod.Post, new {@id = "RatesEdit"}))
{
    <div class="row row-buyingColor">
        <div class="col-xs-4 col-md-3">
        </div>
        <div class="col-xs-4 col-md-3">
            <strong>U.S Dollar</strong>
        </div>
        <div class="col-xs-4 col-md-3">
            <strong>Euro</strong>
        </div>        
    </div>


    <div class="row">
        <div class="col-xs-4 col-md-3">
            <strong>Selling</strong>
        </div>
        <div class="col-xs-4 col-md-3">
            <div class="form-group">
                @Html.HiddenFor(model => model.SellingUsDollar.RateId)
                @Html.TextBoxFor(model => model.SellingUsDollar.ExchangePrice, new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.SellingUsDollar.ExchangePrice)
            </div>
           
        </div>
        <div class="col-xs-4 col-md-3">
            @Html.HiddenFor(model => model.SellingEuro.RateId)
            @Html.TextBoxFor(model => model.SellingEuro.ExchangePrice, new { @class = "form-control" })
            @Html.ValidationMessageFor(model => model.SellingEuro.ExchangePrice)
        </div>        
    </div>

    <div class="row">
        <div class="col-xs-4 col-md-3">
            <strong>Buying</strong>
        </div>
        <div class="col-xs-4 col-md-3">
            @Html.HiddenFor(model => model.BuyingUsDollar.RateId)
            @Html.TextBoxFor(model => model.BuyingUsDollar.ExchangePrice, new { @class = "form-control" })
            @Html.ValidationMessageFor(model => model.BuyingUsDollar.ExchangePrice)
        </div>
        <div class="col-xs-4 col-md-3">
            @Html.HiddenFor(model => model.BuyingEuro.RateId)
            @Html.TextBoxFor(model => model.BuyingEuro.ExchangePrice, new { @class = "form-control" })
            @Html.ValidationMessageFor(model => model.BuyingEuro.ExchangePrice)
        </div>
    </div>
    <br/>
    <input type="submit" value="Save" />

}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}